 /* Overall styles  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Sulphur Point', sans-serif;
    scroll-behavior:smooth;
}

a{
    color: #fff;
}


body {
    background-color: rgba(37, 53, 79, 1);
}

header, footer {
    background-color: rgba(32, 38, 60, 1);
}


header {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: .7;
    box-shadow: 5px 0 10px rgba(0,0,0,.6)
}

/* Heading styles */

.logo {
    height: 5vw;
    margin-left: 2.5vw;
}

header nav {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    
}

header nav ul {
    width: 100vw;
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin-left: 5vw;
}



/* Estilos de los links ---> animación */

.cont-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-link .link-nav {
    position: relative;
    display: inline-block;
    padding: 1.5vh 2vw;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-size: 1vw;
    overflow: hidden;
    text-decoration: none;
}

.link-nav span{
    position: absolute;
    display: block;
}


/* aniamción link parte 1 */

.link-nav span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(0, 255, 194, 1));
}

.link-nav:hover span:nth-child(1) {
    left:100%;
    transition: 1s;
}

/*  link parte 2 */

.link-nav span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(0, 255, 194, 1));
}

.link-nav:hover span:nth-child(3) {
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}



/* Estilos del botón del header */

.cont-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cont-btn .btn-contacto {
    position: relative;
    display: inline-block;
    padding: 1.5vh 2vw;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-size: 1.5vw;
    overflow: hidden;
    text-decoration: none;
    border:solid rgba(0, 255, 194, 1) .2vw;
}

.cont-btn .btn-contacto:hover {
    color: #255784;
    background-color: rgba(0, 255, 194, 1);
    box-shadow:0 0 10px rgba(0, 255, 194, 1), 0 0 40px rgba(0, 255, 194, 1), 0 0 80px rgba(0, 255, 194, 1);
    transition: 1s;
} 

.btn-contacto span{
    position: absolute;
    display: block;
}

/* parte 1 */

.btn-contacto span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(0, 255, 194, 1));
}

.btn-contacto:hover span:nth-child(1) {
    left:100%;
    transition: 1s;
}


/* parte 2 */

.btn-contacto span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(0, 255, 194, 1));
}

.btn-contacto:hover span:nth-child(3) {
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}


/* parte 3 */


.btn-contacto span:nth-child(2) {
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgba(0, 255, 194, 1));
}

.btn-contacto:hover span:nth-child(2) {
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}


/* parte 4 */


.btn-contacto span:nth-child(4) {
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgba(0, 255, 194, 1));
}

.btn-contacto:hover span:nth-child(4) {
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/*  ----------------> menu interactivo <------------------------------------- */



/* estilos del menu interactivo */

.btn_menu {
    font-size: 2rem;
    color: rgba(0, 255, 194, 1);
    cursor: pointer;
    display: none;
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}


ul.show {
    top: 15vh; 
}





/* estilos de la primera section */
.cont-encabezados-1 {
    width: 80vw;
    margin-top: 30vh;
}

.cont-encabezados-1 div {
    text-align: center;
    width: 45vw;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.encabezado-principal {
    font-size: 3.5vw;
    color: #fff;
    font-weight: 100;
}

.encabezado-principal-h2 {
    color: #fff;
    font-size: 2.25vw;
}

.barra-1 {
    border: none;
    height: .3vh;
    width: 30vw;
    background-color: rgba(0, 255, 194, 1);
}


/* estilos de la section-2 */

.cont-sobre-mi {
    width: 80vw;
    margin-top: 20vh;
}

.sobre-mi {
    text-align: right;
    color: #fff;
    font-size: 3.5vw;
}

.barra-2 {
    border: none;
    height: .3vh;
    width: 33vw;
    background-color: rgba(0, 255, 194, 1);
    position: absolute;
    right: 0;
}


/* estilos foto y lista */

.cont-foto-lista {
    display: flex;
    align-items: center;
    width: 90vw;
    margin-top: 10vh;
}

.foto {
    height: 30vw;
    margin-left: 8vw;
    border-radius: 360vh;
}

.lista-foto {
    width: 40%;
    margin-left: 15vw;
    margin-right: 0vw;
}


.lista-foto li {
    margin-top: 5vh;
    color: #fff;
}


.lista-foto li i {
    color: rgba(0, 255, 194, 1);
}

.lista-foto li  {
    font-size:1.5vw ;
}

/* estilos herramientas */


.cont-herramientas {
    margin-top: 40vh;
}

.herramientas {
    text-align: left;
    color: #fff;
    font-size: 3.5vw;
    margin-left: 10vw;
}

.lista-herramientas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 4vw;
    width: 50vw;
    margin-left: 4vw;
    color:rgba(0, 255, 194, 1) ;
}

.cont-lista-herramientas {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* galería de proyectos */

.imagen-proyectos {
    width: 30vw;
}

.cont-card-proyecto {
    display: flex;
    margin: 5vh 0vw;
    align-items: center;
    width: 60vw;
}

.titulo-lista {
    margin-bottom: 1vh;
    color: rgba(0, 255, 194, 1);
    font-size: 2vw;
}

.lista-proyectos {
    margin-left: 5vw;
    color: #fff;
}

.lista-proyectos-izquierda {
    margin-right: 5vw;
    color: #fff;
}

.item-lista-proyectos {
    width: 30vw;
    font-size: 1.2vw;
}


.cont-total-section-productos {
    margin: 10vh 0vw 10vh 18vw;
}



/* Experiencia */


.cont-exp-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 10vh;
    display: flex;
}


.encab-list {
    color: rgba(0, 255, 194, 1);
    font-size: 2vw;
    margin-top: 10vh;
}


.encab-list-2 {
    font-size: 1.5vw;
    color: rgb(160, 154, 154);
}


.lista-exp li {
    width: 40vw;
    margin-top: 1vh;
    color: #fff;
}

.lista-exp li  {
    font-size:1.5vw ;
}


/* footer styles */

footer{
    height: 200vh;
}

#cont-contacto-linea h2 {
    padding-top: 10vh;
}

.cont-listas-contacto {
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    margin-left: 5vw;
}

.cont-listas-contacto li {
    margin-right: 5vw;
    color: #fff;
    font-size: 3vw;
    margin-top: 5vh;
}


.cont-listas-contacto li i {
    color:rgba(0, 255, 194, 1) ;
    font-size:4vw ;
}


/* Titulo de contacto */


.cont-contactame {
    width: 80vw;
    margin-top: 20vh;
}

.contacto {
    text-align: right;
    color: #fff;
    font-size: 3.5vw;
}


/* Formulario */

form {
    width:30vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

fieldset {
    margin: 3vw;
    width: 30vw;
    border: none;
    background-color: rgba(37, 53, 79, 1);
    border-radius:.5vw;
    padding: 2vw;
    z-index: 2;
}

.cont-labels {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 3vh;
    font-size: 1.5vw;
}

.cont-labels input {
    height:4vh;
}

legend {
    font-size: 1.5vw;
    color: rgba(0, 255, 194, 1);
    font-weight: bold;
}

.btn-form {
    margin-top: 3vh;
    width: 8vw;
    height: 5vh;
    font-size: 1.5vw;
    color: rgb(31, 30, 30);
    background-color: rgba(0, 255, 194, 1);
    border: none;
    font-weight: 500;
    border-radius: .3vw;
    cursor: pointer;
}

textarea {
    resize: none;
    height: 30vh;
}


.cont-form {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.barra-final {
    background-color:rgba(0, 255, 194, 1);
    height: .5vh;
    border: none;
    width: 50vw;
    position: absolute;
    left: 0;
    z-index: 1;
}


.proyectos-mobile {
    display: none;
}



/*  MEDIA querys ---------> inicio del formato responsivo */





@media screen and (max-width:858px) {

    header {
        height:15vh;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .logo {
        height:2.5rem;
    }

    .btn_menu {
        display: block;
    }

    .menu_items {
        position: fixed;
        width: 100%;
        background: rgba(32, 38, 60, 1);
        top: -100vh;
        left: 0;
        transition: all .4s;
        flex-direction: column;
        padding-bottom: 10vh;
    }


    
    .cont-link .link-nav {
        font-size: 16px;
        padding-bottom: 5vh;
    }


    .cont-btn .btn-contacto {
        font-size: 16px;
    }


    /* Encabezado principal */

    
    .cont-encabezados-1 div {
        width: 60vw;
    }

    .encabezado-principal {
        font-size: 25px;
    }

    .encabezado-principal-h2 {
        font-size: 18px;
    }


    /* Encabezado "sobre mi" */

    .sobre-mi {
        font-size: 25px;
    }

    /* Estilos de la sección "sobre mi" */
    
    .cont-foto-lista {
        flex-direction: column;
    }

    
    .lista-foto li  {
        font-size: 14px;
    }

    
    .lista-foto {
        width: 70%;
    }
        
    .foto {
        height: 40vw;
    }


    /* Encabezado "herramientas" */

    .cont-herramientas {
        margin-top: 20vh;
    }

    .herramientas {
        font-size: 25px;
    }


    /* lista de herramientas */

    .lista-herramientas {
        font-size: 30px;
        width: 80vw;
        margin-left: 3vw;
    }


    /* Estilos de la sección de "proyectos" mobile */


    .cont-total-section-productos {
        display: none;
    }


    .proyectos-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .proyectos-mobile__img {
        width: 70vw;
    }


    .proyectos-mobile__div-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: left;
        margin-top: 15vh;
    }

    .proyectos-mobile__titulo {
        color: rgba(0, 255, 194, 1);
        margin-bottom: 2vh;
        font-size: 18px;
    }

    .proyectos-mobile__item-lista {
        color: #fff;
        font-size: 14px;
    }

    .proyectos-mobile__lista {
        margin-top: 3vh;
    }


    /* Estilos "experiencia" */

    .encab-list {
        font-size: 18px;
    }

    .encab-list-2 {
        font-size: 16px;
    }

    .lista-exp li {
        font-size: 14px;
    }
    
    .cont-exp-lista {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin-top: 10vh;
        display: flex;
    }

    .lista-exp li {
        width: 60vw;
        margin-top: 1vh;
        color: #fff;
    }

    /* Estilos de la sección contacto */

    .contacto {
        font-size: 25px;
    }

    .lista-cont-1 li {
        font-size: 20px;
    }

    .lista-cont-2 li {
        font-size: 20px;
    }

    .cont-listas-contacto ul li  i {
        font-size: 20px;
    }
    

    /* Estilos del formulario */

    form {
        width:70vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    fieldset {
        margin: 3vw;
        width: 70vw;
        border: none;
        background-color: rgba(37, 53, 79, 1);
        border-radius:1vw;
        padding: 2vw;
        z-index: 2;
    }

    .cont-labels {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin-top: 3vh;
        font-size: 14px;
    }

    .cont-labels input {
        height:4vh;
    }

    legend {
        font-size: 16px;
        color: rgba(0, 255, 194, 1);
        font-weight: bold;
    }

    .btn-form {
        margin-top: 3vh;
        width: 20vw;
        height: 5vh;
        font-size: 16px;
        color: rgb(31, 30, 30);
        background-color: rgba(0, 255, 194, 1);
        border: none;
        font-weight: 500;
        border-radius: .3vw;
        cursor: pointer;
    }

    textarea {
        resize: none;
        height: 30vh;
    }


    .cont-form {
        margin-top: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .barra-final {
        background-color:rgba(0, 255, 194, 1);
        height: .5vh;
        border: none;
        width: 100vw;
        position: absolute;
        left: 0;
        z-index: 1;
    }



}